<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewTeamPlayer</servlet-name>
        <servlet-class>servlets.NewTeamPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayerToTeam</servlet-name>
        <servlet-class>servlets.AddPlayerToTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCoach</servlet-name>
        <servlet-class>servlets.NewCoach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewGame</servlet-name>
        <servlet-class>servlets.NewGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayerToGame</servlet-name>
        <servlet-class>servlets.AddPlayerToGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayerGame</servlet-name>
        <servlet-class>servlets.AddPlayerGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AveragePlayers</servlet-name>
        <servlet-class>servlets.AveragePlayers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AveragePlayersInLineup</servlet-name>
        <servlet-class>servlets.AveragePlayersInLineup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllGamesOfPlayer</servlet-name>
        <servlet-class>servlets.AllGamesOfPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AverageAllPlayers</servlet-name>
        <servlet-class>servlets.AverageAllPlayers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllGamesOfTeam</servlet-name>
        <servlet-class>servlets.AllGamesOfTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeWins</servlet-name>
        <servlet-class>servlets.HomeWins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeWinsGames</servlet-name>
        <servlet-class>servlets.HomeWinsGames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeDefeats</servlet-name>
        <servlet-class>servlets.HomeDefeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AwayWins</servlet-name>
        <servlet-class>servlets.AwayWins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AwayDefeats</servlet-name>
        <servlet-class>servlets.AwayDefeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AverageAllPlayersWin</servlet-name>
        <servlet-class>servlets.AverageAllPlayersWin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AverageAllPlayersDefeat</servlet-name>
        <servlet-class>servlets.AverageAllPlayersDefeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AverageAllPlayersHome</servlet-name>
        <servlet-class>servlets.AverageAllPlayersHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AverageAllPlayersAway</servlet-name>
        <servlet-class>servlets.AverageAllPlayersAway</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewTeamPlayer</servlet-name>
        <url-pattern>/NewTeamPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayerToTeam</servlet-name>
        <url-pattern>/AddPlayerToTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCoach</servlet-name>
        <url-pattern>/NewCoach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewGame</servlet-name>
        <url-pattern>/NewGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayerToGame</servlet-name>
        <url-pattern>/AddPlayerToGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayerGame</servlet-name>
        <url-pattern>/AddPlayerGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AveragePlayers</servlet-name>
        <url-pattern>/AveragePlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AveragePlayersInLineup</servlet-name>
        <url-pattern>/AveragePlayersInLineup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllGamesOfPlayer</servlet-name>
        <url-pattern>/AllGamesOfPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AverageAllPlayers</servlet-name>
        <url-pattern>/AverageAllPlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllGamesOfTeam</servlet-name>
        <url-pattern>/AllGamesOfTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeWins</servlet-name>
        <url-pattern>/HomeWins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeWinsGames</servlet-name>
        <url-pattern>/HomeWinsGames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeDefeats</servlet-name>
        <url-pattern>/HomeDefeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AwayWins</servlet-name>
        <url-pattern>/AwayWins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AwayDefeats</servlet-name>
        <url-pattern>/AwayDefeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AverageAllPlayersWin</servlet-name>
        <url-pattern>/AverageAllPlayersWin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AverageAllPlayersDefeat</servlet-name>
        <url-pattern>/AverageAllPlayersDefeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AverageAllPlayersHome</servlet-name>
        <url-pattern>/AverageAllPlayersHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AverageAllPlayersAway</servlet-name>
        <url-pattern>/AverageAllPlayersAway</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
