<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewTeamPlayer</servlet-name>
        <servlet-class>servlets.NewTeamPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayerToTeam</servlet-name>
        <servlet-class>servlets.AddPlayerToTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCoach</servlet-name>
        <servlet-class>servlets.NewCoach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewGame</servlet-name>
        <servlet-class>servlets.NewGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayerToGame</servlet-name>
        <servlet-class>servlets.AddPlayerToGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayerGame</servlet-name>
        <servlet-class>servlets.AddPlayerGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AveragePlayers</servlet-name>
        <servlet-class>servlets.AveragePlayers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AveragePlayersInLineup</servlet-name>
        <servlet-class>servlets.AveragePlayersInLineup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewTeamPlayer</servlet-name>
        <url-pattern>/NewTeamPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayerToTeam</servlet-name>
        <url-pattern>/AddPlayerToTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCoach</servlet-name>
        <url-pattern>/NewCoach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewGame</servlet-name>
        <url-pattern>/NewGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayerToGame</servlet-name>
        <url-pattern>/AddPlayerToGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayerGame</servlet-name>
        <url-pattern>/AddPlayerGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AveragePlayers</servlet-name>
        <url-pattern>/AveragePlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AveragePlayersInLineup</servlet-name>
        <url-pattern>/AveragePlayersInLineup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
